<app-board-configuration-input
  [config]="config"
  [canEdit]="canEdit"
  [boardName]="name"
  [boardId]="boardId"
  [templateId]="templateId"
  (configEvent)="configEvent.emit($event)"
></app-board-configuration-input>

<div *ngIf="template">
  <div class="mat-h3">Boards based on template</div>
  <mat-accordion>
    <mat-expansion-panel
      *ngFor="let templateBoard of templateBoards"
      (opened)="onOpenTemplateBoardForEdit(templateBoard['id'])"
      (closed)="onCloseTemplateBoardForEdit(templateBoard['id'])">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{templateBoard['name']}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-board-configuration-input
        *ngIf="templateBoard['id'] === selectedTemplateBoard"
        [config]="templateBoard"
        [canEdit]="canEdit"
        [boardName]="templateBoard['name']"
        [templateId]="templateId"
        [boardId]="templateBoard['id']"
        (configEvent)="configEvent.emit($event)"
      ></app-board-configuration-input>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>add</mat-icon>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-board-configuration-new
        [template]="false"
        [owningTemplateId]="templateId"
        (configEvent)="configEvent.emit($event)"
      ></app-board-configuration-new>
    </mat-expansion-panel>
  </mat-accordion>
</div>
