<div class="component-header">
  <div class="mat-h1">
    Configuration
  </div>
</div>
<div class="component-body">
  <div class="readable">
    Below we show lists of the boards and templates configured in your Overbård instance. Select a board or template
    to update its config. For boards or templates where you have the 'administer project' permission for the main projects,
    you can edit and delete boards.
  </div>
  <div class="mat-h2">Boards</div>
  <div *ngIf="(config$ | async).boards.size === 0 ; else showBoards">
    No boards are configured yet. Add some below.
  </div>
  <ng-template #showBoards>
    <mat-accordion>
      <mat-expansion-panel
        *ngFor="let board of (config$ | async).boards"
        [expanded]="isSelected(false, board)"
        (opened)="onOpenForEdit(false, board)"
        (closed)="onCloseForEdit(false, board)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{board['name']}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-board-configuration
          *ngIf="isSelected(false, board)"
          [config]="selectedBoardOrTemplate$ | async"
          [configId]="board['id']"
          [template]="false"
          [canEdit]="board['edit']"
          [jsonError]="editError"
          (configEvent)="onConfigEvent($event)"
        ></app-board-configuration>
      </mat-expansion-panel>
      <mat-expansion-panel
        [expanded]="isSelected(false)"
        (opened)="onOpenForEdit(false)"
        (closed)="onCloseForEdit(false)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>add</mat-icon>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-board-configuration-new
          *ngIf="isSelected(false)"
          [template]="false"
          (configEvent)="onConfigEvent($event)"
        ></app-board-configuration-new>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-template>
  <hr/>
  <div class="mat-h2">Templates</div>
  <div *ngIf="(config$ | async).templates.size === 0 ; else showTemplates">
    No templates are configured yet. Add some below.
  </div>
  <ng-template #showTemplates>
    <mat-accordion>
      <mat-expansion-panel
        *ngFor="let template of (config$ | async).templates"
        [expanded]="isSelected(true,template)"
        (opened)="onOpenForEdit(true, template)"
        (closed)="onCloseForEdit(true, template)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{template['name']}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-board-configuration
          *ngIf="isSelected(true,template)"
          [config]="selectedBoardOrTemplate$ | async"
          [configId]="template['id']"
          [template]="true"
          [canEdit]="template['edit']"
          [jsonError]="editError"
          (configEvent)="onConfigEvent($event)"
        ></app-board-configuration>
      </mat-expansion-panel>
      <mat-expansion-panel
        [expanded]="isSelected(true)"
        (opened)="onOpenForEdit(true)"
        (closed)="onCloseForEdit(true)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>add</mat-icon>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-board-configuration-new
          *ngIf="isSelected(true)"
          [template]="true"
          (configEvent)="onConfigEvent($event)"
        ></app-board-configuration-new>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-template>
  <hr/>

  <div *ngIf="(config$ | async).canEditCustomFields">
    <hr/>
    <div class="mat-h2">Custom field Ids</div>
    <div>
      Enter the custom field id for each of the indicated custom fields. You can find these
      <a
        href="{{fieldsRestApiUrl}}"
        target="_blank"
        color="primary"
      >here</a> by looking for the
      entries with the name of each of the below fields.
    </div>
    <div>
      <form (ngSubmit)="onSaveCustomFieldId(f)" [formGroup]="customFieldsForm" #f="ngForm">
        <div>
          <mat-form-field>
            <input
              matInput
              required="required"
              type="number"
              formControlName="rankCustomFieldId"
              placeholder="Rank"/>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input
              matInput
              required="required"
              type="number"
              formControlName="epicLinkCustomFieldId"
              placeholder="Epic Link"/>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input
              matInput
              required="required"
              type="number"
              formControlName="epicNameCustomFieldId"
              placeholder="Epic Name"/>
          </mat-form-field>
        </div>
        <div>
          <mat-error *ngIf="f.form.dirty && !f.form.valid">
            All field ids must be positive numbers.
          </mat-error>
        </div>
        <div>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!f.form.valid">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

