<div class="component-header">
  <div class="mat-h1">
    Configuration
  </div>
</div>
<div class="component-body">
  <div class="readable">
    Below we show lists of the boards and templates configured in your Overbård instance. Select a board or template
    to update its config. For boards or templates where you have the 'administer project' permission for the main projects,
    you can edit and delete boards.
  </div>
  <div class="mat-h2">Boards</div>
  <div *ngIf="(config$ | async).boards.size === 0 ; else showBoards">
    No boards are configured yet. Add some below.
  </div>
  <ng-template #showBoards>
    <mat-accordion>
      <mat-expansion-panel
        *ngFor="let board of (config$ | async).boards"
        [expanded]="isSelected(false,board)"
        (opened)="onOpenForEdit(false, board)"
        (closed)="onCloseForEdit(false, board)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{board['name']}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-board-configuration
          *ngIf="isSelected(false,board)"
          [config]="selectedBoardOrTemplate$ | async"
          [template]="false"
          [canEdit]="board['edit']"
          [jsonError]="editError"
          (configEvent)="onConfigEvent($event)"
        ></app-board-configuration>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-template>
  <hr/>
  <div class="mat-h2">Templates</div>
  <div *ngIf="(config$ | async).templates.size === 0 ; else showTemplates">
    No templates are configured yet. Add some below.
  </div>
  <ng-template #showTemplates>
    <mat-accordion>
      <mat-expansion-panel
        *ngFor="let template of (config$ | async).templates"
        [expanded]="isSelected(true,template)"
        (opened)="onOpenForEdit(true, template)"
        (closed)="onCloseForEdit(true, template)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{template['name']}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-board-configuration
          *ngIf="isSelected(true,template)"
          [config]="selectedBoardOrTemplate$ | async"
          [template]="true"
          [canEdit]="template['edit']"
          [jsonError]="editError"
          (configEvent)="onConfigEvent($event)"
        ></app-board-configuration>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-template>
  <hr/>
  <div>
    <div class="mat-h2">Create a new board/template</div>
    <form (ngSubmit)="onSaveCreatedBoardOrTemplate()" [formGroup]="createForm" #f="ngForm">
      <div class="readable">
        <p>A board will show up right away for users once it has been added.</p>
        <p>
          A template will not show up in the user's boards list until you have created boards from it.
          The first step is to create the template here, and then to create boards from that template in the
          Templates section above.
        </p>
      </div>
      <mat-form-field class="almost_full-width">
        <textarea
          matInput
          matTextareaAutosize
          matAutosizeMinRows="5"
          matAutosizeMaxRows="25"
          name="createJson"
          formControlName="createJson"
          (keyup)="clearSaveJsonErrors()"
          placeholder="Enter json config for board/template"
        >
        </textarea>
      </mat-form-field>

      <div *ngIf="createError">
        <mat-error>{{createError}}</mat-error>
      </div>
      <div>
        <button
          type="submit"
          [disabled]="!f.form.valid"
          mat-raised-button
          color="primary"
        >Save</button>
        <span>&nbsp;</span>
        <mat-checkbox name="template" formControlName="template">Template</mat-checkbox>
      </div>
    </form>
  </div>
  <div *ngIf="(config$ | async).canEditCustomFields">
    <hr/>
    <div class="mat-h2">Custom field Ids</div>
    <div>
      Enter the custom field id for each of the indicated custom fields. You can find these
      <a
        href="{{fieldsRestApiUrl}}"
        target="_blank"
        color="primary"
      >here</a> by looking for the
      entries with the name of each of the below fields.
    </div>
    <div>
      <form (ngSubmit)="onSaveCustomFieldId(f)" [formGroup]="customFieldsForm" #f="ngForm">
        <div>
          <mat-form-field>
            <input
              matInput
              required="required"
              type="number"
              formControlName="rankCustomFieldId"
              placeholder="Rank"/>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input
              matInput
              required="required"
              type="number"
              formControlName="epicLinkCustomFieldId"
              placeholder="Epic Link"/>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input
              matInput
              required="required"
              type="number"
              formControlName="epicNameCustomFieldId"
              placeholder="Epic Name"/>
          </mat-form-field>
        </div>
        <div>
          <mat-error *ngIf="f.form.dirty && !f.form.valid">
            All field ids must be positive numbers.
          </mat-error>
        </div>
        <div>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!f.form.valid">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

